@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

.App {
  text-align: center;
}


.App-header {
  background-color: hsl(216, 12%, 8%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.icon{
margin-left: 10px;
}

.card{
  background-color: hsl(213, 19%, 18%) !important;
  padding: 20px !important;
  margin: 10% !important;
  border-radius: 15px !important;
  font-family: 'Overpass', sans-serif;
}

.cardcontent > h2{
color: white !important;
text-align: left !important;
flex: content;

}
.cardcontent > p {
color: rgba(255, 255, 255, 0.559) !important;
size: 15px;
}


.cardcontent2 > h2{
color: white !important;
text-align: center !important;
flex: content;

}
.cardcontent2 > p {
color: rgba(255, 255, 255, 0.559) !important;
size: 15px;
text-align: center;
}


#count{
display: flex; 
align-items: center;
justify-content: space-around;
margin: 40px;
color: coral;
 background-color: hsl(208, 13%, 29%) !important;
 border-radius: 10px;
padding: 10px;

 
}

.submitbtn{
  font-size: 25px;
  width: 40%;
  border-radius: 20px;
  height: 40px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-family: 'Overpass', sans-serif;
  margin-top: 10px;
}

button:hover{
  background-color: white;
  color: hsl(25, 97%, 53%);
}

input[type="radio"]{
  display:none;
}

.start{
cursor: pointer;
transition: color 200ms;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
